@model WebThuCung.Dto.AdminDto

@{
    ViewData["Title"] = "Profile";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}

<div class="pagetitle">
    <h1>Hồ sơ</h1>
    <nav>
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a asp-controller="Admin" asp-action="Index">Trang chủ</a></li>
            <li class="breadcrumb-item">Người dùng</li>
            <li class="breadcrumb-item active">Hồ sơ</li>
        </ol>
    </nav>
</div><!-- End Page Title -->

<section class="ok">
    <div class="row">
        <div class="col-xl-4">

            <div class="card">
                <div class="card-body profile-card pt-4 d-flex flex-column align-items-center">
                    <!-- Ảnh hồ sơ -->
                    <img id="imagePreview" src="~/admin/img/@Model.AvatarUrl" alt="Profile" class="rounded-circle" style="width:150px; height:150px; object-fit:cover;" onclick="openMo(); return false;" />

                    <!-- Thông tin tên và chức vụ -->
                    <h2>@Model.userAdmin</h2>
                    @* <h3>@Model.JobTitle</h3> *@

                    <!-- Liên kết mạng xã hội -->
                    <div class="social-links mt-2">
                        <a href="" class="twitter" target="_blank"><i class="bi bi-twitter"></i></a>
                        <a href="" class="facebook" target="_blank"><i class="bi bi-facebook"></i></a>
                        <a href="" class="instagram" target="_blank"><i class="bi bi-instagram"></i></a>
                        <a href="" class="linkedin" target="_blank"><i class="bi bi-linkedin"></i></a>
                    </div>
                </div>
            </div>

        </div>

        <div class="col-xl-8">
            <div class="card">
                <div class="card-body pt-3">
                    <!-- Bordered Tabs -->
                    <ul class="nav nav-tabs nav-tabs-bordered">
                        <li class="nav-item">
                            <a class="nav-link " asp-controller="Admin" asp-action="Profile">Tổng quan</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link active" asp-controller="Admin" asp-action="EditProfile">Chỉnh sửa hồ sơ</a>
                        </li>

                    </ul>
                    <div class="tab-content pt-2">

                        <div id="content-container">
                            <div id="profile-edit">
                                <!-- Profile Edit Form -->

                                <form method="post" asp-action="EditProfile">
                                    <!-- Validation Summary -->
                                    <div asp-validation-summary="All" class="text-danger"></div>
                                    <div class="row mb-3">
                                        <label for="fullName" class="col-md-4 col-lg-3 col-form-label">Tên đầy đủ</label>
                                        <div class="col-md-8 col-lg-9">
                                            <input asp-for="Name" type="text" class="form-control" id="fullName">
                                        </div>
                                        <span asp-validation-for="Name" class="text-danger"></span>
                                    </div>

                                    <div class="row mb-3">
                                        <label for="address" class="col-md-4 col-lg-3 col-form-label">Địa chỉ</label>
                                        <div class="col-md-8 col-lg-9">
                                            <input asp-for="Address" type="text" class="form-control" id="address" >
                                        </div>
                                        <span asp-validation-for="Address" class="text-danger"></span>
                                    </div>

                                    <div class="row mb-3">
                                        <label for="phone" class="col-md-4 col-lg-3 col-form-label">Số điện thoại</label>
                                        <div class="col-md-8 col-lg-9">
                                            <input asp-for="Phone" type="text" class="form-control" placeholder="Enter Phone" pattern="\d*" title="Please enter only numbers." />

                                        </div>
                                        <span asp-validation-for="Phone" class="text-danger"></span>
                                    </div>

                                    <div class="row mb-3">
                                        <label for="email" class="col-md-4 col-lg-3 col-form-label">Email</label>
                                        <div class="col-md-8 col-lg-9">
                                            <input asp-for="Email" type="email" class="form-control" id="email" >
                                        </div>
                                        <span asp-validation-for="Email" class="text-danger"></span>
                                    </div>

                                    <div class="text-center">
                                        <button type="submit" class="btn btn-primary">Lưu thay đổi</button>
                                    </div>
                                </form><!-- End Profile Edit Form -->

                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<div id="uploadModal" class="modal">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <span class="close" onclick="closeMo();">&times;</span>
            <div class="modal-header">
                <h5 class="modal-title" id="uploadModalLabel">Upload Profile Image</h5>
            </div>
            <form asp-controller="Admin" asp-action="EditProfile" id="editForm" method="post" enctype="multipart/form-data">
                <div class="modal-body">

                    <div class="text-center">
                        <img id="modalImagePreview" src="~/admin/img/@Model.AvatarUrl" class="job-image img-thumbnail rounded-circle" style="width: 150px; height: 150px;">
                    </div>
                    <div class="form-group mb-4">
                        <input asp-for="Avatar" type="file" class="file-upload-default" id="avatarUpload" style="display: none;" onchange="uploadImage();" />
                        <button class="custom-button" type="button" onclick="document.getElementById('avatarUpload').click();">Upload Image</button>
                        <input type="text" id="fileNameInput" class="file-name-display mt-2" disabled="" placeholder="No file chosen">
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" onclick="closeMo();">Close</button>
                    <button type="submit" class="btn btn-primary" onclick="closeMo();">Save changes</button>
                </div>
            </form>
        </div>
    </div>
</div>
<script language='javascript'>

    function isNumberKey(evt) {
        var charCode = (evt.which) ? evt.which : event.keyCode
        if (charCode > 31 && (charCode < 48 || charCode > 57))
            return false;
        return true;
    }

</script>
<script>
    function openMo() {
        document.getElementById("uploadModal").style.display = "block";
    }

    // Đóng modal
    function closeMo() {
        document.getElementById("uploadModal").style.display = "none";
    }

    // $(document).ready(function () {
    //     // AJAX cho form Change Password
    //     $('#content-container').on('submit', 'form', function (e) {
    //         e.preventDefault(); // Ngăn chặn hành động gửi form mặc định

    //         var form = $(this);
    //         var url = form.attr('action');
    //         var method = form.attr('method');

    //         $.ajax({
    //             url: url,
    //             type: method,
    //             data: form.serialize(), // Lấy dữ liệu từ form
    //             success: function (result) {
    //                 $('#content-container').html(result); // Cập nhật nội dung với response
    //             },
    //             error: function () {
    //                 alert('Có lỗi xảy ra. Vui lòng thử lại.');
    //             }
    //         });
    //     });
    // });
    function uploadImage() {
        var file = document.getElementById('avatarUpload').files[0];
        var formData = new FormData();
        formData.append("avatar", file);

        $.ajax({
            url: '/Admin/UploadAvatar',
            type: 'POST',
            data: formData,
            processData: false,
            contentType: false,
            success: function (response) {
                var preview = document.getElementById('imagePreview');
                var modalPreview = document.getElementById('modalImagePreview');
                var fileNameInput = document.getElementById('fileNameInput');

                // Lấy tên file mà không có phần mở rộng
                var fileNameWithoutExtension = response.fileName.split('.').slice(0, -1).join('.');

                // Cập nhật ảnh xem trước trên trang chính và trong modal
                preview.src = '/admin/img/' + response.fileName;
                modalPreview.src = '/admin/img/' + response.fileName;

                // Cập nhật tên file
                fileNameInput.value = fileNameWithoutExtension;

                // Gọi hàm enableEdit() để kích hoạt chế độ chỉnh sửa
                // enableEdit();
            },
            error: function () {
                alert("File upload failed.");
            }
        });
    }
</script>